html {
    background: #e1e1e1;
    display: flex;
    align-items: top;
    justify-content: center;
    height: 100%;
  }
  .blob-cont {
    position: relative;
  }
  .blob-cont img {
    width: 789px;
    position: absolute;
    z-index: 1;
    bottom: 124px;
    left: -19px;
  }
  #blob {
    min-width: 800px;
    min-height: 800px;
  }
  /* #blob ellipse {
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cx: 500;
    cy: 500;
  }
  #blob ellipse#el1 {
    cx: 330;
    cy: 320;
    rx: 120;
    ry: 120;
    animation-name: el1;
  }
  #blob ellipse#el2 {
    cy: 242;
    cx: 345;
    rx: 100;
    ry: 100;
    animation-name: el2;
  }
  #blob ellipse#el3 {
    cy: 287;
    cx: 470;
    rx: 160;
    ry: 160;
    animation-name: el3;
  }
  #blob ellipse#el4 {
    cy: 421;
    cx: 551;
    rx: 180;
    ry: 180;
    animation-name: el4;
  }
  #blob ellipse#el5 {
    cy: 497;
    cx: 377;
    rx: 140;
    ry: 140;
    animation-name: el5;
  }
  
  @keyframes el1 {
    20% {
        cy: 340;
        cx: 290;
    }
    55% {
        cy: 410;
        cx: 240;
    }
    75% {
        cy: 430;
        cx: 260;
    }
  }
  @keyframes el2 {
    25% {
        cy: 230;
        cx: 320;
    }
    50% {
        cy: 235;
        cx: 300;
    }
    75% {
        cy: 230;
        cx: 337;
    }
  }
  @keyframes el3 {
    25% {
        cy: 274;
        cx: 425;
    }
    50% {
        cy: 290;
        cx: 450;
    }
    75% {
        cy: 300;
        cx: 400;
    }
}
@keyframes el4 {
  25% {
    cy: 366;
    cx: 573;
  }
  50% {
    cy: 442;
    cx: 533;
  }
  75% {
    cy: 491;
    cx: 513;
  }
}
@keyframes el5 {
  25% {
    cy: 528;
    cx: 413;
  }
  50% {
    cy: 492;
    cx: 433;
  }
  75% {
    cy: 491;
    cx: 330;
  }
} */